extends layout

block content
  if !user
    img.bg(src='/img/wg_blurred_backgrounds_5.jpg')
    .row
      .col-xs-5
        h1.app-title
          strong Hot
          |  or
          strong  Not
        .lead.slogan See who is hot around you!
        a.btn.btn-lg.btn-social.btn-facebook(href='/auth/facebook')
          i.fa.fa-facebook
          | Sign in with Facebook
      .col-xs-7
        img.hover(src='/img/screenshot.png', width="100%")
    footer
      .container
        | © 2014 Company, Inc.
  else
    h1 Logged in...
    a(href='/logout') Logout
    .row
      .col-xs-6.col-xs-offset-3
        button.btn.btn-success.pull-left
          i.fa.fa-thumbs-up
          | Like
        button.btn.btn-danger.pull-right
          i.fa.fa-thumbs-down
          | Dislike
        br
        img.img-thumbnail(src='#{user.picture}')
